<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr />

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice: 3</td>
          <td>{{ nombre | slice: 3 }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice: 0: 3</td>
          <td>{{ nombre | slice: 0:3 }}</td>
        </tr>
        <tr>
          <td>{{ arreglo }}</td>
          <td>slice: 1: 5</td>
          <td>{{ arreglo | slice: 1:5 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'3.0-0'</td>
          <td>{{ PI | number:'3.0-0'}}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'.0-2'</td>
          <td>{{ PI | number:'.0-2'}}</td>
        </tr>
      </tbody>
    </table>

    <h4>Slice <small>slice: 5: 20</small></h4>
    <ul>
      <li *ngFor="let item of arreglo | slice: 5:20">{{ item }}</li>
    </ul>
  </div>
</div>
