<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr />

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombreCapitalizado }}</td>
          <td>capitalizado</td>
          <td>{{ nombreCapitalizado | capitalizado }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice: 3</td>
          <td>{{ nombre | slice: 3 }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice: 0: 3</td>
          <td>{{ nombre | slice: 0:3 }}</td>
        </tr>
        <tr>
          <td>{{ arreglo }}</td>
          <td>slice: 1: 5</td>
          <td>{{ arreglo | slice: 1:5 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'3.0-0'</td>
          <td>{{ PI | number:'3.0-0'}}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'.0-2'</td>
          <td>{{ PI | number:'.0-2'}}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent</td>
          <td>{{ porcentaje | percent}}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent:'2.2-2'</td>
          <td>{{ porcentaje | percent:'2.2-2'}}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency}}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency:'EUR'</td>
          <td>{{ salario | currency:'EUR'}}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency:'EUR': 'symbol-narrow': '.0-0'</td>
          <td>{{ salario | currency:'EUR': 'symbol-narrow': '.0-0'}}</td>
        </tr>
        <tr>
          <td>{{ valorPromesa }}</td>
          <td>async</td>
          <td>{{ valorPromesa | async }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date</td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date: 'medium'</td>
          <td>{{ fecha | date: 'medium' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date: 'd/MM/yyyy - hh:mm:ss a'</td>
          <td>{{ fecha | date: 'd/MM/yyyy - hh:mm:ss a' }}</td>
        </tr>
      </tbody>
    </table>

    <h4>Slice <small>slice: 5: 20</small></h4>
    <ul>
      <li *ngFor="let item of arreglo | slice: 5:20">{{ item }}</li>
    </ul>

    <h3>JSON</h3>
    <hr>
    <div class="row mb-5">
      <div class="col">
        <pre>
          {{heroe | json}}
        </pre>
      </div>
    </div>
  </div>
</div>

<h3 class="mt-4">Domseguro</h3>
<hr>
<div class="row mb-5">
  <div class="col">
    <iframe width="560"
            height="315"
            [src]="videoUrl | domseguro"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
  </div>
</div>